body {
    margin: 0;
    overflow: hidden;
    text-align: center;
}

.content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #88d8b0;
}

h1 {
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ff6f69;
    font-size: 100px;
    font-family: sans-serif;
}
